h1 {
    font-size: 6em;
    font-family: Impact, sans-serif;
}
h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5em;
}
h3 {
    font-size: 4em
}
.center {
    text-align: center;
}

body {
    background-color: #393939;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 20rem;
    border:.8rem solid aliceblue;
}

ul {
    list-style-type:none
}

footer{
    background-color: Darkred;
}

.header{
    background-color: darkred;
}
a{
    color:whitesmoke;
}
a:clicked{
    color:whitesmoke;
}
a:hover{
    color:black;
}
.SamFont{
    font-family: 'Pacifico', cursive;
}

.DanFont{
    font-family: 'Cinzel', serif;
}
.facebook img{
    height: 3rem;
    border-width: 0rem;
}
.football{
    font-size: 2rem;
}

table{
    float:center;
}