h1 {
    font-size: 6em;
    font-family: Impact, sans-serif;
}

h3 {
    font-size: 4em
}
.center {
    text-align: center;
}

body {
    background-color: #595959;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 20rem;
    border:.8rem solid aliceblue;
}

/* .SamFont{
    font-family: 'Pacifico', cursive;
}

.DanFont{
    font-family: 'Cinzel', serif;
} */
