h1 {
    font-size: 6em;
    font-family: Impact, sans-serif;
}

h3 {
    font-size: 4em
}
.center {
    text-align: center;
}

body {
    background-color: #595959;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 20rem;
    border:.8rem solid aliceblue;
}

ul {
    list-style-type:none
}

footer{
    background-color: Darkred;
}

.header{
    background-color: darkred;
}
a{
    color:whitesmoke;
}
a:clicked{
    color:whitesmoke;
}
a:hover{
    color:black;
}
.SamFont{
    font-family: 'Pacifico', cursive;
}

.DanFont{
    font-family: 'Cinzel', serif;
}
